# Python virtual environment
/.venv/

# VS Code local settings
.vscode/

# Nuitka build outputs
*.build/
*.dist/
*.onefile-build/
nuitka_tmp/
*.xml

# Python caches and compiled artifacts
__pycache__/
*.py[cod]
*.pyd
*.dll
*.so

# Logs and executables generated at the project root
*.log
wiki/wikiルール

#data
*.xls*